CSharp-Threading-Examples/.vs/CSharp-Threading-Examples/v16/Server/sqlite3/storage.ide
CSharp-Threading-Examples/.vs/CSharp-Threading-Examples/v16/Server/sqlite3/storage.ide-wal
CSharp-Threading-Examples/.vs/CSharp-Threading-Examples/v16/Server/sqlite3/storage.ide-shm
CSharp-Threading-Examples/.vs/CSharp-Threading-Examples/v16/Server/sqlite3/db.lock
